---
import '../styles/global.css'
import BaseLayout from "../layouts/BaseLayout.astro";

const skills = ['javascript/typescript', 'css/scss', 'JavaScript', 'vue', 'Astro']
const listItemWeight = 'bold'
---

<BaseLayout pageTitle="About">
    <h1>this is about page</h1>
    <ul>
      {skills.map(skillName =>
              <li class="skill">{skillName}</li>)
      }
    </ul>
</BaseLayout>

<style define:vars={{listItemWeight}}>
    .skill {
        font-weight: var(--listItemWeight);
    }
</style>
