---
import BlogPost from '../components/BlogPost.astro';
import '../styles/global.css'
import BaseLayout from "../layouts/BaseLayout.astro";
import {getCollection} from "astro:content";

const startText = 'Blog Page';
const allPosts = await getCollection('posts');
---
<BaseLayout pageTitle="Blogs">
    <h1>{startText}</h1>
    <ul>
      {
        allPosts.map(
          posts => {
            return <BlogPost url={`/posts/${posts.slug}/`} title={posts.data.title}/>;
          }
        )
      }
    </ul>
</BaseLayout>
