---
import BlogPost from '../components/BlogPost.astro';
import '../styles/global.css'
import BaseLayout from "../layouts/BaseLayout.astro";

const startText = 'Blog Page';
const allPosts = await Astro.glob('../pages/posts/*.md');
---
<BaseLayout pageTitle="Blogs">
    <h1>{startText}</h1>
    <ul>
      {
        allPosts.map(
          posts => {
            return <BlogPost url={posts.url} title={posts.frontmatter.title}/>;
          }
        )
      }
    </ul>
</BaseLayout>
