---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from "../components/Navigation.astro";
const pageTitle = "首页";
---

<Navigation/>
<BaseLayout pageTitle={pageTitle}>
    <h2>My awesome blog subtitle</h2>
</BaseLayout>