---
const {githubName} = Astro.props;
---

<footer>
    this is footer area
    <p>
        <a href={`https://www.github.com/${githubName}`}>
            github ➡️
        </a>
    </p>
</footer>

<style>
    footer {
        margin-top: 20px;
        border: 1px silver dashed;
        padding: 10px;
    }
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>